<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Matrículas - Disciplinas Filtradas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Disciplinas com Número Mínimo de Alunos Matriculados: {{ valor_minimo }}</h1>

    <table>
        <tr>
            <th>Nome da Disciplina</th>
            <th>Número de Alunos Matriculados</th>
        </tr>
        {% for resultado in resultados %}
        <tr>
            <td>{{ resultado[0] }}</td>
            <td>{{ resultado[1] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
