<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Matrículas - Filtrar Disciplinas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Filtrar Disciplinas</h1>

    <form action="/filtrar_disciplinas" method="POST">
        <label for="valor_minimo">Número Mínimo de Alunos Matriculados:</label>
        <input type="number" id="valor_minimo" name="valor_minimo" required>
        <button type="submit">Filtrar</button>
    </form>
</body>
</html>
